:root {
    --primary-color: #005f73;
    --secundary-color: #0a9396;
    --accent1-color: #ee9b00;
    --accent2-color: #e9d8a6;
    --heading-font: "Montserrat", "Arial Black"
        --body-font: "Open Sans", Roboto, san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    background-color: var(--accent2-color);
    color: #1a1a1a;
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
}